.venv/
.vscode/
data/processed_data/
.metals/
running-project/.bloop/
running-project/.bsp/
running-project/.metals/
running-project/.vscode/
running-project/project/
running-project/target/
dashboard/.venv/
dashboard/app/__pycache__/
