.ag-theme-alpine.compact {
    --ag-grid-size: 3px;
}

.ag-theme-alpine.compact.font {
    --ag-font-size: 10px;
}

.custom-font-size{
    font-size: 0.9rem;
}

.Select-input{
    height: 25px;
}

.Select-control{
    height: 27px;
}

.Select-placeholder{
    line-height: 25px;
}

.Select-value{
    line-height: 28px !important;
}